
<h1>List of Hotels</h1>

<p><%= link_to 'Anjappar',hotel_path %></p>

<p><%= link_to 'Rahman',hotel_path %></p>

<p><%= link_to 'Best Hotel',hotel_path %></p>

<p><%= link_to 'Thalappakatti',hotel_path %></p>



