<p id="notice"><%= notice %></p>

<h1>Gweets</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gweets.each do |gweet| %>
      <tr>
        <td><%= link_to gweet.post,gweet %></td>
        <td><%= link_to 'Destroy', gweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gweet', new_gweet_path %>
